.body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex; 
    justify-content: center;
    
}

.box1 {
    flex: 1; 
    border: 1px solid #000;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
}

.box2 {
    flex: 1; 
    border: 1px solid #000;
    margin: 10px;
    padding: 10px;
    overflow: hidden;

}

.box3 {
    flex: 1; 
    border: 1px solid #000;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    
}

.resim{
    margin-top: 200px;

}

@media (min-width: 1024px) {
    .box {
        flex: 1;
    }
}

@media (max-width: 767px) {
    .container {
        flex-direction: column; 
    }
    .box {
        flex: none; 
        width: 100%; 
    }
}